<!--
  File: _form.html.erb
  Purpose: This View that shows the year, the number, the area, the image, the letter, right_answer and the wording of the question.
  License : LGPL. No copyright.
 -->

<%= form_for(@question) do |form_for| %>

	<div>
		<%= form_for.label :year %>
		<%= form_for.text_field :year %>
	</div>
	<div>
		<%= form_for.label :area %>
		<%= form_for.text_field :area %>
	</div>
	<div>
		<%= form_for.label :number %>
		<%= form_for.text_field :number %>
	</div>
	<div>
		<%= form_for.label :enunciation %>
		<%= form_for.text_field :enunciation %>
	</div>
	<div>
		<%= form_for.label :reference %>
		<%= form_for.text_field :reference %>
	</div>
	<div>
		<%= form_for.label :image %>
		<%= form_for.text_field :image %>
	</div>

	<%= form_for.fields_for :alternatives do |fields_for| %>
		<div>
			<%= fields_for.label :letter %>
			<%= fields_for.text_field :letter %>

			<%= fields_for.label :description %>
			<%= fields_for.text_field :description %>
		</div>
	<% end %>
	<div>
		<%= form_for.label :right_answer %>
		<%= form_for.text_field :right_answer %>
	</div>

	<%= form_for.submit %>

<% end %>