<!--

  File: recommended.erb
  Purpose: This View that show the user performance at question.
  License : LGPL. No copyright.
 
 -->

<p></p>

<div class="buttons-questions">
  <% if current_user.role_admin? %>
    <%= link_to ("Editar", edit_question_path, class: "btn btn-primary", id: "btn-edit") %>
    <%= link_to ("Deletar", question_path, :method => :delete, class: "btn btn-danger", id: "btn-delete", data: { confirm: "Você tem certeza que deseja excluir esta questão?" }) %>
  <% end %>

</div>

<div class="question">
  <h1>Questão <%= @question.number%></h1>
  <h2>Ano: <%= @question.year %></h2>

  <div class='question-index'>
    <p><%= @question.area %></p>
  </div>

  <% @question.texts.each do |question| %>
    <h4 class="question-title"><%= question.title %></h4>
    <% question.paragraphs.each do |paragraphs| %>
      <p class="question-text"><%= paragraphs %></p>
    <% end %>
    
    <p class="question-text-reference"><%= question.reference %></p>
  <% end %>

  <% if !@ question.image.empty?%>
    <%= image_tag (@question.image , class: 'img-responsive question-img') %>
  <% end %>

    <%else%>
    <!-- nothing to do -->

  <p class="question"><%= @question.enunciation %></p>


  <%= form_tag answer_question_path, remote: true do %>
    <% @question.alternatives.each do |alternative| %>
      <div class="alternative">
        <%= radio_button_tag(:alternative, alternative.letter) %>
        <%= label_tag(alternative.letter.to_s, alternative.letter.to_s + ")") %>
        <span class="<%= alternative.letter.to_s %>-description"><%= alternative.description %></span>
      </div>
    <% end %>

  <%= submit_tag ("Responder", class: 'answer btn btn-primary btn-sm button', id: 'answer-btn') %>
  <%= link_to ("Pular", next_question_path, method: :post, class: 'btn btn-primary btn-sm button', id: 'jump-btn') %>

  <% end %>

<p>
  <%= yield :charts_js %>
  <%= bar_chart @question.data, colors: ["#009900", "#BBBB00" , "#0080FF"],
  min: 0,
  max: 100,
  library: {backgroundColor: "#eee",
            isStacked: true,
            title: 'Desempenho da Questão  (Porcentagem de acertos por tentativa)',

  } %>

</p>

</div>
