<!--
   File: question.erb
   Purpose: This View that show the question the exam.
   License : LGPL. No copyright.
 -->

<div class="question">

  <h1>Questão <%= @question.number%></h1>
  <h2>Ano: <%= @question.year %></h2>

  <div class='question-index'>
    <p><%= @question.area %></p>
  </div>

  <% @question.texts.each do |question| %>
    <h4 class="question-title"><%= question.title %></h4>
    <% question.paragraphs.each do |paragraphs| %>
      <p class="question-text"><%= paragraphs %></p>
    <% end %>
    <p class="question-text-reference"><%= question.reference %></p>
  <% end %>

  <% if !@question.image.empty?%>
    <%= image_tag(@question.image , class: 'img-responsive question-img') %>

  <% end %>

    <%else%>
      <!-- nothing to do -->

  <p class="question"><%= @question.enunciation %></p>

  <% @question.alternatives.each do |alternative| %>
    <div class="alternative">
      <%= radio_button_tag(:"alternative_#{@question.id}", alternative.letter) %>
      <%= label_tag(alternative.letter.to_s, alternative.letter.to_s + ")") %>
      <%= alternative.description %>
    </div>

  <% end %>

</div>
